/* Polices personnalisées */

/* Déclaration de la poice fontawesome */
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fontawesome-webfont.eot') format('eot'),
         url('../fontawesome-webfont.woff') format('woff'),
         url('../fontawesome-webfont.ttf') format('truetype'),
         url('../fontawesome-webfont.svg') format('svg');
    font-style: normal;
    font-weight: normal;
} 


/* Propriétés principales */
p{
    color : rgb(100,100,100); 
}
body{
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   
}
html,body {
    margin:0;
    padding:0;
    /*overflow-x: hidden;*/
}
button{
    outline:none;
}
nav a{
    text-decoration: none;
    color : rgb(111,115,119); 
    font-size: 0.8em;
    outline:none;
}



/* En tête : logo et barre de navigation */
header
{
    width: 100%;
    margin :0;
    padding: 0;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
   position: absolute;
    z-index:100;
 
}
#logo img{
    margin-left: 120px;
    height: 75px;
}
#menu_icone{
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.8em;
    line-height: 50px;
}
#menu
{
    list-style-type: none;
    display: -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
    margin-right: 40px;
}
#menu li
{
    height: 80px;

    vertical-align: middle;
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
}
#menu a
{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
}

#navigateur label, #navigateur input{
    display: none;
}
/* Affichage d'un trait bleu lors du focus sur un element du menu de navigation*/
#menu a:focus,#menu a:hover{
    background-color: #5BB85D ;
    color:white;
}


/*Adaptation du menu pour les tablettes et smartphones */
@media screen and (max-width:1024px)
{
    #bloc_page{
        overflow: hidden; 
    }
    header{
        height: 75px;
        width: 100%;
        position:fixed;
        margin:0;
        padding:0;
    }
    #logo img{
        margin-left:25px;
        height: 65px;

    }
    #navigateur{
        width: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        position:absolute;
        top:0;
        right:0;
    } 
     #navigateur label{
        display: inline-block;
        line-height: 75px;
        padding-right: 20px;
        color:rgb(111,115,119);
    }
    #menu{
        display:none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(255,255,255,1);
    }
    #menu li
    {
        height: 40px;
        line-height: 40px;
    }
    #menu a
    {
        line-height: 40px;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        border-top:none;
    }

    #navigateur input[type=checkbox]:checked ~ ul{
        display: block;
    }
}
@media screen and (max-width:768px)
{
    #navigateur{
        width: 100%;
    }
}






/* -------------------- Partie 1 : slider -------------------*/

#accueil_panorama{
    margin-top:80px;
    padding-top:30px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    width:100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
/*#flecheGauche{
    position: absolute;
    top:40%;
    left:3%;

}
#flecheDroite{
    position:absolute;
    top:40%;
    right:3%;
}*/
#flecheGauche, #flecheDroite{
    background-color: rgb(100,100,100);
    width:60px;
    height: 60px;
    border-radius: 60px;
    color:white;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    cursor:pointer;
    -webkit-transition:-webkit-transform 0.3s;
    transition:-webkit-transform 0.3s;
    -o-transition:transform 0.3s;
    transition:transform 0.3s;
    transition:transform 0.3s, -webkit-transform 0.3s;
    z-index: 10;

}
#flecheGauche:hover, #flecheDroite:hover{
    -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
            transform:scale(1.1);
}
#carousel{
    border:1px rgb(100,100,100) solid;
    width:100%;
    max-width:950px;
    height: 500px;
    overflow: hidden;
    margin: 0 20px;
    position: relative;
}
.slide{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}
#carousel1{
    opacity:1;
}
#carousel .item_image{
    max-width: 100%; 
    position: absolute;
    top:0;
    left:0;
}
#carousel img{
    width: 100%;
}
.item_texte{
    width:100%;
    height: 65px;
    z-index:200;
    background-color:rgb(255,255,255,0.8);
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
.item_texte p{
    color:#424442;
    font-size: 1.4em;
}


/*Boules de navigation */
#navSlider{
    position: absolute;
    bottom:10px;
    left: calc(50% -100px);
    z-index:10;
    width: 200px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
}
.boule{
    height: 10px;
    width: 10px;
    border-radius:10px;
    margin-left:7px;
    margin-right: 7px;
    margin-top:25px;
    background-color: #646464;
    border:2px #f5f5f5 solid;
    list-style-type: none;
    z-index:20;
}
.boule:hover{
    background-color: #f5f5f5;
    border:2px rgb(100,100,100) solid;
}

#carousel1{
    display: block;/*Slide 1 affichée par défaut*/
}

@media screen and (max-width:1200px)
{
    #carousel{
        margin-left: 15px;
        margin-right: 15px;
        max-width:800px;
        max-height: 420px;
    }
}
@media screen and (max-width:1024px)
{
    #carousel{
        max-width:700px;
        height: 350px;
    }
}
@media screen and (max-width:880px)
{
    #carousel{
        margin-left: 20px;
        margin-right: 20px;
        max-width:550px;
    }
    #flecheGauche, #flecheDroite{
        width:50px;
        height: 50px;
        border-radius: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    .item_texte p{
        font-size: 1.2em;
      }
    .item_texte{
        height: 60px;
    }
}
@media screen and (max-width: 768px)
{
    #carousel{
        margin-left: 10px;
        margin-right: 10px;
     
    }
    #flecheGauche, #flecheDroite{
        width:40px;
        height: 40px;
        border-radius: 40px;
        border:1px rgb(100,100,100) solid;
        line-height: 40px;
        font-size: 1.2em;
        background-color: white;
        color:rgb(100,100,100);
    }
    #flecheGauche{
        position: absolute;
        top:calc(40%);
        left:15px;     
    }
    #flecheDroite{
        position: absolute;
        top:calc(40%);
        right:15px;     
    }
    .item_texte{
        height: 60px;
 
    }
    .item_texte p{
        font-size: 1.1em;

    }
}
@media screen and (max-width:610px)
{
     #carousel{
        margin-left: 10px;
        margin-right: 10px;
        width: 80%;
        height: 260px;
     
    }
    .item_texte{
        height: 50px;
        background-color:rgb(255,255,255,1);
 
    }
    .item_texte p{
        font-size: 1.0em;
    }
}
@media screen and (max-width:500px)
{
    #carousel{
        width: 266px;
        height: 180px;
     
    }
    .item_texte{
        height: 50px;  
    }
    .item_texte p{
        font-size: 0.9em;
    }
}
@media screen and (max-width:350px)
{
    #carousel{
        width: 90%;
        height: 160px;
     }

    .item_texte p{
        font-size: 0.8em;   
    }

}



/*----------------Partie 2 : Carte Google -------------------*/
#section_carte{
    padding:50px 20px;
    padding-bottom: 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#map{
    height: 500px;
    width:80%;
    background-color: grey;
    margin:auto;
}


/*.veloMarker{
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top:-35px;
    background-color: white;
    position:absolute;
    border:1px black solid;
    border-radius: 25px;
    text-align: center;
    cursor:pointer;
}

.veloMarker p{
    width: 80%;
    margin:auto;
    margin-top: 4px;
    color:white;
    font-weight: 600;
    font-size: 12px;
    background-color: green;
    border-radius: 17px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
}

.veloMarker::after{
    content:'';
    position:absolute;
    top:90%;
    left:4px;
    width:0;
    height: 0;
    border-left:9px transparent solid;
    border-right: 9px transparent solid;
    border-top:12px black solid;
}Pour des marqueurs personnalisés*/
#close{
    font-size:24px;
    color:#a3a3a3;
    position:absolute;
    top:5px;
    right:5px;
}
#close:hover{
    color:#646464;
}
#panneauInfos{
    border:1px #646464 solid;
    border-radius:10px;
    background-color: #f5f5f5;
    color: rgb(100,104,109);
    text-align: left;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-left:20px;
    line-height: 16px;
    -webkit-box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3);
            box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3); 
    display:none;
    font-size: 14px;
    position: relative;

}

#panneauInfos h2{
    color:#5BB85D;
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
    font-size: 24px;
}
#panneauInfos h3{
    line-height: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}
#panneauInfos p {
    margin-top: 5px;
}
#stationFermee{
    display: none;
    color:#ed2828;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    
}
#boutonReserverVelo{
    text-align: center;
}
#reserverVelo{
    background-color: #646464;
    color:white;
    border:none;
    border-radius:4px;
    font-size:1em;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 20px;
    height: 32px;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3);
            box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3); 
    margin:auto;
    margin-top:30px;
    margin-bottom: 10px;
}
#reserverVelo:hover{
     background-color:#5BB85D;
}

#reservation{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display:none;
}
#alerteSignature h4{
    text-align: center;
    color:#ed2828;
    font-size:16px;
    width:80%;
    line-height: 20px;
    text-align: center;
    margin: auto;
}
#canvas{
    border:1px #646464 solid;
    margin-bottom: 10px;
    background-color: white;
}

#boutons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
#effacer{
    background-color: #ed2828;
    color:white;
    border-radius:4px;
    border:none;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 10px;
    height: 32px;
    margin-right: 10px;
}
#valider{
    background-color: #5BB85D;
    color:white;
    border-radius:4px;
    border:none;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 10px;
    height: 32px;
    margin-left: 10px;
}
@media screen and (max-width:768px)
{

    #section_carte{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding:50px 20px;
    }
    #map{
        height: 400px;
        width:100%;
        background-color: grey;
        margin:auto;
    }
    #panneauInfos{
        width:90%;
        margin-left: 0;
        margin-top:20px;
        text-align:center;
    }

}

/* -------------------- Partie 3 : footer -------------------*/

footer{
    background-color: #646464;
   
    width: 90%;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 10px;
    color:white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;


}
footer p{
    color:white;
    font-weight: 600;
    font-size:22px;
    line-height: 22px;
    margin-top:0;
    margin-bottom:0;
}
#suiviResa{
    display: block;
}
#stationReservee, #dureeRestante {
    color:#5BB85D;
}
#suiviResa{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
#infosResa{
    display: none;
}
#alerteDelai{
    color:#ed2828;
}/* Polices personnalisées */

/* Déclaration de la poice fontawesome */
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fontawesome-webfont.eot') format('eot'),
         url('../fontawesome-webfont.woff') format('woff'),
         url('../fontawesome-webfont.ttf') format('truetype'),
         url('../fontawesome-webfont.svg') format('svg');
    font-style: normal;
    font-weight: normal;
} 


/* Propriétés principales */
p{
    color : rgb(100,100,100); 
}
body{
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   
}
html,body {
    margin:0;
    padding:0;
    /*overflow-x: hidden;*/
}
button{
    outline:none;
}
nav a{
    text-decoration: none;
    color : rgb(111,115,119); 
    font-size: 0.8em;
    outline:none;
}



/* En tête : logo et barre de navigation */
header
{
    width: 100%;
    margin :0;
    padding: 0;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
   position: absolute;
    z-index:100;
 
}
#logo img{
    margin-left: 120px;
    height: 75px;
}
#menu_icone{
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.8em;
    line-height: 50px;
}
#menu
{
    list-style-type: none;
    display: -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
    margin-right: 40px;
}
#menu li
{
    height: 80px;

    vertical-align: middle;
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
}
#menu a
{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
}

#navigateur label, #navigateur input{
    display: none;
}
/* Affichage d'un trait bleu lors du focus sur un element du menu de navigation*/
#menu a:focus,#menu a:hover{
    background-color: #5BB85D ;
    color:white;
}


/*Adaptation du menu pour les tablettes et smartphones */
@media screen and (max-width:1024px)
{
    #bloc_page{
        overflow: hidden; 
    }
    header{
        height: 75px;
        width: 100%;
        position:fixed;
        margin:0;
        padding:0;
    }
    #logo img{
        margin-left:25px;
        height: 65px;

    }
    #navigateur{
        width: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        position:absolute;
        top:0;
        right:0;
    } 
     #navigateur label{
        display: inline-block;
        line-height: 75px;
        padding-right: 20px;
        color:rgb(111,115,119);
    }
    #menu{
        display:none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(255,255,255,1);
    }
    #menu li
    {
        height: 40px;
        line-height: 40px;
    }
    #menu a
    {
        line-height: 40px;
        padding: 0;
        margin: 0;
        padding-left: 30px;
        border-top:none;
    }

    #navigateur input[type=checkbox]:checked ~ ul{
        display: block;
    }
}
@media screen and (max-width:768px)
{
    #navigateur{
        width: 100%;
    }
}






/* -------------------- Partie 1 : slider -------------------*/

#accueil_panorama{
    margin-top:80px;
    padding-top:30px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    width:100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
/*#flecheGauche{
    position: absolute;
    top:40%;
    left:3%;

}
#flecheDroite{
    position:absolute;
    top:40%;
    right:3%;
}*/
#flecheGauche, #flecheDroite{
    background-color: rgb(100,100,100);
    width:60px;
    height: 60px;
    border-radius: 60px;
    color:white;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    cursor:pointer;
    -webkit-transition:-webkit-transform 0.3s;
    transition:-webkit-transform 0.3s;
    -o-transition:transform 0.3s;
    transition:transform 0.3s;
    transition:transform 0.3s, -webkit-transform 0.3s;
    z-index: 10;

}
#flecheGauche:hover, #flecheDroite:hover{
    -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
            transform:scale(1.1);
}
#carousel{
    border:1px rgb(100,100,100) solid;
    width:100%;
    max-width:950px;
    height: 500px;
    overflow: hidden;
    margin: 0 20px;
    position: relative;
}
.slide{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}
#carousel1{
    opacity:1;
}
#carousel .item_image{
    max-width: 100%; 
    position: absolute;
    top:0;
    left:0;
}
#carousel img{
    width: 100%;
}
.item_texte{
    width:100%;
    height: 65px;
    z-index:200;
    background-color:rgb(255,255,255,0.8);
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
.item_texte p{
    color:#424442;
    font-size: 1.4em;
}


/*Boules de navigation */
#navSlider{
    position: absolute;
    bottom:10px;
    left: calc(50% -100px);
    z-index:10;
    width: 200px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
}
.boule{
    height: 10px;
    width: 10px;
    border-radius:10px;
    margin-left:7px;
    margin-right: 7px;
    margin-top:25px;
    background-color: #646464;
    border:2px #f5f5f5 solid;
    list-style-type: none;
    z-index:20;
}
.boule:hover{
    background-color: #f5f5f5;
    border:2px rgb(100,100,100) solid;
}

#carousel1{
    display: block;/*Slide 1 affichée par défaut*/
}

@media screen and (max-width:1200px)
{
    #carousel{
        margin-left: 15px;
        margin-right: 15px;
        max-width:800px;
        max-height: 420px;
    }
}
@media screen and (max-width:1024px)
{
    #carousel{
        max-width:700px;
        height: 350px;
    }
}
@media screen and (max-width:880px)
{
    #carousel{
        margin-left: 20px;
        margin-right: 20px;
        max-width:550px;
    }
    #flecheGauche, #flecheDroite{
        width:50px;
        height: 50px;
        border-radius: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    .item_texte p{
        font-size: 1.2em;
      }
    .item_texte{
        height: 60px;
    }
}
@media screen and (max-width: 768px)
{
    #carousel{
        margin-left: 10px;
        margin-right: 10px;
     
    }
    #flecheGauche, #flecheDroite{
        width:40px;
        height: 40px;
        border-radius: 40px;
        border:1px rgb(100,100,100) solid;
        line-height: 40px;
        font-size: 1.2em;
        background-color: white;
        color:rgb(100,100,100);
    }
    #flecheGauche{
        position: absolute;
        top:calc(40%);
        left:15px;     
    }
    #flecheDroite{
        position: absolute;
        top:calc(40%);
        right:15px;     
    }
    .item_texte{
        height: 60px;
 
    }
    .item_texte p{
        font-size: 1.1em;

    }
}
@media screen and (max-width:610px)
{
     #carousel{
        margin-left: 10px;
        margin-right: 10px;
        width: 80%;
        height: 260px;
     
    }
    .item_texte{
        height: 50px;
        background-color:rgb(255,255,255,1);
 
    }
    .item_texte p{
        font-size: 1.0em;
    }
}
@media screen and (max-width:500px)
{
    #carousel{
        width: 266px;
        height: 180px;
     
    }
    .item_texte{
        height: 50px;  
    }
    .item_texte p{
        font-size: 0.9em;
    }
}
@media screen and (max-width:350px)
{
    #carousel{
        width: 90%;
        height: 160px;
     }

    .item_texte p{
        font-size: 0.8em;   
    }

}



/*----------------Partie 2 : Carte Google -------------------*/
#section_carte{
    padding:50px 20px;
    padding-bottom: 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#map{
    height: 500px;
    width:80%;
    background-color: grey;
    margin:auto;
}


/*.veloMarker{
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top:-35px;
    background-color: white;
    position:absolute;
    border:1px black solid;
    border-radius: 25px;
    text-align: center;
    cursor:pointer;
}

.veloMarker p{
    width: 80%;
    margin:auto;
    margin-top: 4px;
    color:white;
    font-weight: 600;
    font-size: 12px;
    background-color: green;
    border-radius: 17px;
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
}

.veloMarker::after{
    content:'';
    position:absolute;
    top:90%;
    left:4px;
    width:0;
    height: 0;
    border-left:9px transparent solid;
    border-right: 9px transparent solid;
    border-top:12px black solid;
}Pour des marqueurs personnalisés*/
#close{
    font-size:24px;
    color:#a3a3a3;
    position:absolute;
    top:5px;
    right:5px;
}
#close:hover{
    color:#646464;
}
#panneauInfos{
    border:1px #646464 solid;
    border-radius:10px;
    background-color: #f5f5f5;
    color: rgb(100,104,109);
    text-align: left;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-left:20px;
    line-height: 16px;
    -webkit-box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3);
            box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3); 
    display:none;
    font-size: 14px;
    position: relative;

}

#panneauInfos h2{
    color:#5BB85D;
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
    font-size: 24px;
}
#panneauInfos h3{
    line-height: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}
#panneauInfos p {
    margin-top: 5px;
}
#stationFermee{
    display: none;
    color:#ed2828;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    
}
#boutonReserverVelo{
    text-align: center;
}
#reserverVelo{
    background-color: #646464;
    color:white;
    border:none;
    border-radius:4px;
    font-size:1em;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 20px;
    height: 32px;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3);
            box-shadow: 4px 4px 10px 2px rgb(100,104,109, 0.3); 
    margin:auto;
    margin-top:30px;
    margin-bottom: 10px;
}
#reserverVelo:hover{
     background-color:#5BB85D;
}

#reservation{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display:none;
}
#alerteSignature h4{
    text-align: center;
    color:#ed2828;
    font-size:16px;
    width:80%;
    line-height: 20px;
    text-align: center;
    margin: auto;
}
#canvas{
    border:1px #646464 solid;
    margin-bottom: 10px;
    background-color: white;
}

#boutons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
#effacer{
    background-color: #ed2828;
    color:white;
    border-radius:4px;
    border:none;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 10px;
    height: 32px;
    margin-right: 10px;
}
#valider{
    background-color: #5BB85D;
    color:white;
    border-radius:4px;
    border:none;
    font-weight: bold; 
    text-decoration: none;
    padding:3px 10px;
    height: 32px;
    margin-left: 10px;
}
@media screen and (max-width:768px)
{

    #section_carte{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding:50px 20px;
    }
    #map{
        height: 400px;
        width:100%;
        background-color: grey;
        margin:auto;
    }
    #panneauInfos{
        width:90%;
        margin-left: 0;
        margin-top:20px;
        text-align:center;
    }

}

/* -------------------- Partie 3 : footer -------------------*/

footer{
    background-color: #646464;
   
    width: 90%;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 10px;
    color:white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;


}
footer p{
    color:white;
    font-weight: 600;
    font-size:22px;
    line-height: 22px;
    margin-top:0;
    margin-bottom:0;
}
#suiviResa{
    display: block;
}
#stationReservee, #dureeRestante {
    color:#5BB85D;
}
#suiviResa{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
#infosResa{
    display: none;
}
#alerteDelai{
    color:#ed2828;
}